{% extends 'base.html.twig' %}

{% block title %}UserJob index{% endblock %}

{% block body %}
    <h1>UserJob index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_job in user_jobs %}
            <tr>
                <td>{{ user_job.id }}</td>
                <td>{{ user_job.name }}</td>
                <td>{{ user_job.description }}</td>
                <td>{{ user_job.createdAt ? user_job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_job.updatedAt ? user_job.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_job.deletedAt ? user_job.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_job_show', {'id': user_job.id}) }}">show</a>
                    <a href="{{ path('app_admin_job_edit', {'id': user_job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_job_new') }}">Create new</a>
{% endblock %}
