<turbo-frame id="create-form" target="_top">
    {{ form_start(form, {attr: {class: 'modal-content'}}) }}
    <div class="modal-header">
        <h5 class="modal-title" id="newProjectFormModalLabel">Nouveau projet</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="container">
            {{ form_errors(form) }}

            <div class="row g-3">
                <div class="col-12 col-md-8">
                    <div class="row g-3">
                        <div class="col-12">{{ form_row(form.name) }}</div>
                        <div class="col-12">{{ form_row(form.description) }}</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row g-3">
                        <div class="col-12">{{ form_row(form.estimated_time) }}</div>
                        <div class="col-12 col-md-4">{{ form_row(form.start_at) }}</div>
                        <div class="col-12 col-md-4">{{ form_row(form.forecast_at) }}</div>
                        <div class="col-12 col-md-4">{{ form_row(form.ended_at) }}</div>
                        <div class="col-12">{{ form_row(form.client) }}</div>
                        {% for projectUsersForm in form.users %}
                            <div class="col-xs-4">
                                {{ form_errors(projectUserForm) }}
                                {{ form_row(projectUserForm.user) }}
                            </div>
                        {% endfor %}
                        <div class="col-12">{{ form_row(form.users) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-underline" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-success btn-lg rounded">Ajouter</button>
    </div>
    {{ form_end(form) }}
</turbo-frame>