{% extends 'layout/default.html.twig' %}

{% set title = "Mes projets" %}
{% set current_cat = 'project' %}

{% block header %}
    <h1 class="h3">Mes projets</h1>
{% endblock %}

{% block quick_links %}
    <a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#newProjectFormModal"><i class="bi bi-plus me-2"></i>Nouveau projet</a>
    <a href="{{ path('timesheet_index') }}" class="btn btn-outline-primary"><i class="bi bi-calendar-event me-2"></i>Timesheet</a>
{% endblock %}

{% block body %}
    <div class="row g-3 row-cols-1 row-cols-md-5">
        <div class="col">
            <div class="card">
                <div class="card-header">Mes projets</div>
                <div class="card-body">
                    <span class="h3">{{ app.user.projects|length|format_number }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mt-3">
        {% for object in app.user.projects %}
            <div class="col-12 col-md-4">
                <a href="{{ path('project_show', {id: object.id}) }}" class="d-block card link-light">
                    <div class="card-header bg-transparent border-0 d-flex align-items-center justify-content-between">
                        <div class="d-inline-flex flex-column">
                            <span class="fw-bold">{{ object }}</span>
                            <span class="small">{{ object.client }}</span>
                        </div>

                        <span class="badge bg-{{ object.forecastAt|days_left > 0 ? 'success' : object.forecastAt|days_left < 0 ? 'danger' : 'warning' }}">{{ 'project.days_left'|trans({days: object.forecastAt|days_left}) }}</span>
                    </div>
                    <div class="card-body">
                        <span>Temps CDP : {{ object.estimatedTime|format_number }} jours</span>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-12 text-center">
                <i class="bi bi-emoji-dizzy fs-1"></i>
                <span class="d-block text-center mt-2 mb-3">Aucun projet...</span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProjectFormModal">Nouveau projet</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block modals %}
    <!-- Modal -->
    <div class="modal fade" id="newProjectFormModal" tabindex="-1" aria-labelledby="newProjectFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newProjectFormModalLabel">Nouveau projet</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <turbo-frame id="project-form" src="{{ fragment_uri(controller('App\\Controller\\ProjectController::_projectFormModal')) }}">
                            {{ include('layout/includes/_loading.html.twig') }}
                        </turbo-frame>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
